@import 'variables';

.container {
    padding: 0 100px;
    // display: flex;
}

.avatar {
    width: 50px;
}

a {
    text-decoration: none;
}

.trash {
    color: black;
    font-size: 20px;
}

.select-option-actions {
    width: 220px;
}

td {
    vertical-align: middle;
}
